html {
    scroll-snap-type: y mandatory;
}

.App {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #000;
}

.app__videos {
    position: relative;
    height: 800px;
    width: 80%;
    max-width: 500px;
    border-radius: 20px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

/* hide scrollbar */

/* hide for chrome */
.app__videos::-webkit-scrollbar {
    display: none;
}
/* hide for ie, edge, firefox */
.app__videos {
    -ms-overflow-style: none; /* ie and edge */
    scrollbar-width: none; /* firefox */
}